<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>盯霸</title>
<link rel="stylesheet" href="./sass/all.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
	integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"
	referrerpolicy="no-referrer"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#goLogin").click(function(e) {
			location.href = '/login';
		});

		$("#goReg").click(function(e) {
			location.href = '/login';
		});

		$("#goController").click(function(e) {
			location.href = '/websocket/100';
		});
	});
</script>

</head>

<body>
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">盯霸</a>
			<span class="navbar-toggler-iogglercon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">首頁</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">查詢</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 介紹 </a>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/contact">關於我們</a>
					</li>

					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Another action</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>
					</li>
					<li class="nav-item">
						<button type="button" class="btn btn-primary" id="goLogin">登入</button>
					</li>
				</ul>
				<button type="button" class="btn btn-primary" id="goReg">註冊</button>
			</div>
		</div>
	</nav>
	<header class="header"
		style="background-image: url(https://images.unsplash.com/photo-1542648816826-60305677f27f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80)">
		<div class="container d-flex align-items-center h-100">
			<div>
				<h1 class="text-white">貓貓汁正盯著你</h1>
				<button class="btn btn-primary col-10" type="button" id="goController">開始</button>
			</div>
		</div>
	</header>

	<section class="container mt-6">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<img class="height-s5 w-100 object-fit-cover"
					src="https://thumbor.4gamers.com.tw/azA1DI6UNiaHB1sDeqSxBj9wFJw=/adaptive-fit-in/1200x1200/filters:no_upscale():extract_cover():format(jpeg):quality(85)/https%3A%2F%2Fugc-media.4gamers.com.tw%2Fpuku-prod-zh%2Fanonymous-story%2F1036f24f-7593-4627-9488-fab6d83ce65a.jpg">
			</div>
			<div class="col-md-5 d-flex align-items-center">
				<div>
					<h2>校正模式</h2>
					<p>有一隻活了一百萬次的貓，它死了一百萬次，也活了一百萬次。但貓一直不喜歡任何人。有一次，貓是國王的貓，國王很喜歡貓，做了一個美麗的籃子，把貓放在裡面。每次國王要打仗都把貓帶在身邊。不過貓很不快樂，有一次在打仗時，貓被箭射死了，國王抱著貓，哭得好傷心、好傷心，但是貓沒有哭，貓不喜歡國王。</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center mt-4 flex-row-reverse">
			<div class="col-md-5">
				<img class="height-s5 w-100 object-fit-cover"
					src="https://watermark.lovepik.com/photo/20211120/large/lovepik-the-gaze-of-a-silver-tiger-picture_500478744.jpg">
			</div>
			<div class="col-md-5 d-flex align-items-center">
				<div>
					<h2>手動模式</h2>
					<p>由AI影像辨識即時算出人臉的座標，並透過兩顆步進馬達控制相機角度定位人臉，且能以網頁上的操作介面進行鏡頭角度調整。</p>
				</div>
			</div>
		</div>
	</section>
	<!--
    <section class="py-5 mt-6" style="background-image: url(./images/moroccan-flower.png)">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <input type="text"><br>
                <input type="text">
                <button class="btn btn-primary" type="button">送出

            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div>
                    <table align="center" valign="center">
                        <tr>
                            <td>
                                 <input type="text">
                                <input type="text">
                                <button type="button" class="btn btn-primary"> 
                            </td>
                            <td align="center" valign="center">
                                <img src="./images/white-down-arrow.png" style="transform:rotate(180deg);height: 72px">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="./images/white-down-arrow.png" style="transform:rotate(90deg);height: 72px">
                            </td>
                            <td>
                                <img class="img-fluid" src="./images/background-black.png">
                            </td>
                            <td>
                                <img src="./images/white-down-arrow.png" style="transform:rotate(270deg);height: 72px">
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td align="center" valign="center">
                                <img src="./images/white-down-arrow.png" style="height: 72px">
                            </td>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </section>
-->
	<!-- <section class="container mt-6">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="./images/money.jpg" class="card-img-top height-s3 object-fit-cover">
                    <div class="card-body">
                        <h5 class="card-title">斗內</h5>
                        <p class="card-text">每個月100</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">感恩的心</li>
                        <li class="list-group-item">感謝有您</li>
                        <li class="list-group-item">平安喜樂</li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary w-100" type="button">訂閱</button>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./images/money.jpg" class="card-img-top height-s3 object-fit-cover">
                <div class="card-body">
                    <h5 class="card-title">斗內</h5>
                    <p class="card-text">每個月300</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">感恩的心</li>
                    <li class="list-group-item">感謝有您</li>
                    <li class="list-group-item">平安喜樂</li>
                    <li class="list-group-item">感謝有您</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary w-100" type="button">訂閱</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./images/money.jpg" class="card-img-top height-s3 object-fit-cover">
                <div class="card-body">
                    <h5 class="card-title">斗內</h5>
                    <p class="card-text">每個月750</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">感恩的心</li>
                    <li class="list-group-item">感謝有您</li>
                    <li class="list-group-item">平安喜樂</li>
                    <li class="list-group-item">感謝有您</li>
                    <li class="list-group-item">平安喜樂</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary w-100" type="button">訂閱</button>
                </div>
            </div>
        </div>
        </div>
    </section> -->
	<section></section>

	<footer class="bg-dark mt-6 py-5">
		<div class="container text-white d-flex justify-content-between">
			<div class="h1">
				盯霸
				<br>
				<div class="h6 mt-2">
					自動追蹤
					</h6>
				</div>
			</div>
			<div class="h1">
				連結
				<br>
				<div class="h6 d-flex justify-content-start mt-2">
					首頁 介紹 關於我們
					</h6>
				</div>
			</div>
	</footer>

</body>

</html>