<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>註冊</title>
</head>

<body>
    <div class="container">
        <div class="login-left">
            <div class="login-header">
                <h1>盯霸</h1>
                <p>登入來使用</p>
            </div>
            <form class="login-form">
                <div class="login-form-content">
                    <div class="form-item">
                        <label for="email">請輸入信箱</label>
                        <input type="text" id="email">
                    </div>
                    <div class="form-item">
                        <label for="password">請輸入密碼</label>
                        <input type="password" id="password">
                    </div>
                    <div class="form-item">
                        <div class="checkbox">
                            <input type="checkbox" id="rememberMeCheckbox" checked>
                            <label for="rememberMeCheckbox" class="checkboxLabel">記住我</label>
                        </div>
                    </div>
                    <button type="submit">登入</button>
                    <button type="submit">註冊</button>
                </div>
                <div class="login-form-footer">
                    <a href="#">
                        <img width="30" src="./images/google.png" alt="">Google登入
                    </a>
                    <a href="#">
                        <img width="30" src="./images/instagram.jpg" alt="">Instagram登入
                    </a>
                    <a href="#">
                        <img width="30" src="./images/facebook.png" alt="">Facebook登入
                    </a>
                    <a href="#">
                        <img width="30" src="./images/line.jpg" alt="">Line登入
                    </a>
                </div>

            </form>
        </div>
        <div class="login-right">
            <img class="img-fluid" src="./images/cat.png">
        </div>

</body>

</html>