<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/login.css">
<title>登入</title>
<link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="js/google_api.js"></script>
<script src="js/Facebook_api.js"></script>
</head>

<body>
	<div class="container">
		<div class="login-left">
			<div class="login-header">
				<h1>盯霸</h1>
				<p>登入來使用</p>
			</div>
			<form class="login-form" action="/doLogin" name="data">
				<div class="login-form-content">
					<div class="form-item">
						<label for="email">請輸入信箱</label> <input type="text" id="email"
							name="data">
					</div>
					<div class="form-item">
						<label for="password">請輸入密碼</label> <input type="password"
							id="password" name="data">
					</div>
					<div class="form-item">
						<div class="checkbox">
							<input type="checkbox" id="rememberMeCheckbox" checked> <label
								for="rememberMeCheckbox" class="checkboxLabel">記住我</label>
						</div>
					</div>
					<div>
						<p th:text="${message}"></p>
					</div>
					<button name="data" type="submit">登入</button>
				</div>
			</form>
			<div class="login-form-footer">
				<a href="#" id="google"> <img width="30" src="./images/google.png" alt="">Google登入
				</a>
				<a href="#" id="facebook"> <img width="30" src="./images/facebook.png" alt="">Facebook登入
				</a>
			</div>


		</div>
		<div class="login-right">
			<img class="img-fluid" src="./images/cat.png">
		</div>
<script>
var google = document.getElementById('google');
var facebook = document.getElementById('facebook');
//google登入按鈕加入監聽click事件，觸發-登入-api_response->後端(email,password,sign)
google.addEventListener('click',function(e){
	//可用 fetch() 傳輸後端
		authenticate().then(loadClient).then(function(){
			fetch(
					'/doApiLogin?email='+ email 
					+'&password='+ password
					+'&loginstatus='+ sign
					)
			    .then(function(response){
			        console.log('google登入傳送後端成功',response)
			        if('[[${session.uid}]]'!=null){location.assign("/");}
		        },
				function(err){console.error("google登入傳送後端錯誤",err)}
		)},function(err){console.error("google登入錯誤",err)})
		
});
//facebook登入按鈕加入監聽click事件，觸發-登入-api_response->後端(email,password,sign)
function checkfblogin(){
	console.log('1');
	console.log('[[${session.uid}]]')
	if(fbpassword!='undefined' && fbpassword!=null && fbpassword!=""){
		console.log('2')
		console.log('[[${session.uid}]]')
		fetch(
				'/doApiLogin?email='+ fbemail 
				+'&password='+ fbpassword
				+'&loginstatus='+ fbsign
				)
		    .then(function(response){
		        console.log('fb登入傳送後端成功',response)
		        console.log('3')
				console.log('[[${session.uid}]]')
		        location.assign("/")
	            },
			    function(err){console.error("fb登入傳送後端錯誤",err)}
	            
	   		)
	   	
		//location.assign("/")
	}else{
		console.log('4')
		console.log('[[${session.uid}]]')
		setTimeout(checkfblogin,1000)
		}
}

facebook.addEventListener('click',function(e){
    //可用 fetch() 傳輸後端(寫在js裡面)    
          fblogin()
         
	   	
         checkfblogin()
         
         
	   	
	
});
</script>
</body>

</html>