
.direction_button{
    width:50px;
    height:50px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.bar_horz{
    width: 175px;
    height: 8px;
    padding: 0 5px;
}

.execute_button{
    width: 100px;
    height: 100px;
}

.textbox_current{
    width: 30px;
    text-align: center;
}

.textbox_change{
    width: 30px;
    text-align: center;
}